<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>
            DoctorServlet
        </servlet-name>
        <servlet-class>
            src/main/java/org/example/jdbcTest1/doctorApp/servlet/DoctorServlet.java
        </servlet-class>
    </servlet>

    <servlet-mappling>
        <servlet-name>
            DoctorServlet
        </servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mappling>

</web-app>